* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    color: rgb(75, 75, 75);
}

#main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-height: 100svh;
    background-image: url("./Images/Tasks.jpg");
    background-position: center;
    background-size: cover;
}

#sub-container {
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
    background: rgba(255, 255, 255, 0.775);
    padding: 20px;
    border-radius: 10px;
}

@media(max-width:768px) {
    #main-container {
        padding: 0 10px;
    }
    #sub-container {
        padding: 10px;
    }

}

#title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#list-img {
    width: 10vh
}

#to-do-form {
    display: flex;
    justify-content: space-between;
    gap: 5px
}

#to-do-add {
    width: 60%;
    padding: 10px;
    flex:1;
    border-radius: 5px;
    border: 2px solid rgb(218, 218, 218)
}

@media(max-width:768px){
    #to-do-form {
        flex-direction: column;
    }

    #to-do-add {
        width: 100%
    }

    #form-inner {
        display: flex;
        flex-flow: row nowrap;
        gap: 5px
    }

    #priority, #add-btn {
        width: 50%
    }
}

#add-btn {
    cursor: pointer;
    background: rgb(255, 223, 116);
    border-radius: 5px;
    padding: 10px 30px;
    border: none;
    color: rgb(75, 75, 75);

    &:hover {
        background:  rgb(255, 234, 163);
    }
}

#priority {
    border-radius: 5px;
    border: 2px solid rgb(218, 218, 218);
    background: rgb(251, 249, 241);
    padding: 10px;
}

#filter, #sort {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    font-size: 14px;
}

.priority-selector {
    border: 1px solid rgb(155, 155, 155);
    border-radius: 5px;
    padding: 0 5px;
    color: rgb(155, 155, 155);
    cursor: pointer;
    font-weight: 300;
    
    &:last-child {
        color: rgb(180, 188, 75);
        border-color: rgb(180, 188, 75);
    };

    &:nth-last-child(2) {
        color: rgb(159, 128, 41);
        border-color: rgb(159, 128, 41);
    };

    &:nth-last-child(3) {
        color: rgb(129, 64, 42);
        border-color: rgb(129, 64, 42);
    };
    
}

.sort-option {
    border: 1px solid rgb(155, 155, 155);
    border-radius: 5px;
    padding: 0 5px;
    color: rgb(155, 155, 155);
    cursor: pointer;
    font-weight: 300;
}

.priority-selector.active {
    font-weight: 500;
    border-width: 2px;
  }


#list-container li {
    list-style: none;
    padding: 12px 120px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

#list-container li::before {
    content: "";
    position: absolute;
    height: 28px;
    width: 28px;
    background-image: url("./Images/empty-circle.svg");
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

#list-container li.checked {
    color: #555;
    text-decoration: line-through;
}

#list-container li.checked::before {
    background-image: url("./Images/correct.svg");
}

#list-container li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

.priority-badge {
    margin-right: 80px;
    padding: 3px !important;
    color: #928c1d !important;
    padding-left: 5px !important;
    font-size: 10px !important;
    border-radius: 0px !important;
    height: 40px !important;

    &:hover {
        background: none !important;
    }
  }

  .edit-icon, .delete-icon {
    cursor: pointer;
    margin-left: 10px;
    font-size: 1em !important;
  }

  .edit-input {
    margin-right: 40px;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid rgb(218, 218, 218)
  }

  .edit-icon {
    padding-right: 60px;
  }